name: Detector de Clausulas CI

# Definir cuando se activa el "robot"
# Cada vez que se haga un push a la rama 'main'
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test-code:
    runs-on: ubuntu-latest # Server Linux de GitHub

    steps:
      # Bajar códio del repositorio
      - name: Checkout código
        uses: action/checkout@v4

      # Instalar uv (Gestor de paquetes)
      - name: Instalar uv
        uses: astral-sh/setup-uv@v5

      # Configurar py 3.12
      - name: Configurar Python
        uses: uv python install 3.12

      # Instalar librerias de pyproject.toml
      - name: Instalar dependencias
        uses: uv sync --all-extras --dev

      # Corer los test
      - name: Ejecutar Test con Pytest
        uses: uv run pytest
