name: Detector de Clausulas CI

# Definir cuando se activa el "robot"
# Cada vez que se haga un push a la rama 'main'
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test-code:
    runs-on: ubuntu-latest # Server Linux de GitHub

    steps:
      # Bajar c贸dio del repositorio
      - name: Checkout c贸digo
        uses: actions/checkout@v4

      # Instalar uv (Gestor de paquetes)
      - name: Instalar uv
        uses: astral-sh/setup-uv@v5

      # Configurar py 3.12
      - name: Configurar Python
        run: uv python install 3.12

      # Instalar librerias de pyproject.toml
      - name: Instalar dependencias
        run: uv sync --all-extras --dev

      # Formatear el c贸digo
      - name: Revisar calidad de c贸digo (Ruff)
        run: uv run ruff check .

      # Corer los test
      - name: Ejecutar Test con Pytest
        run: uv run pytest
